@import '@fontsource-variable/mulish';
@import '@fontsource/petit-formal-script';

// fonts
$font1:  'Mulish Variable', sans-serif;
$font2:  'Petit Formal Script', cursive;

// colors
$theme-color: #e0c9a9;

:root {
    --theme-color: #{$theme-color};
}

@media (prefers-contrast: more) { 
    $theme-color: #5F3A21;
    :root {
        --theme-color: #5F3A21;
    }
}